* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'system-ui';
}

/*Color del cuerpo*/
body {
    background-color: rgb(249, 248, 248);
}
/*Color de la barra*/
.barra {
    background-color: rgb(52, 33, 33);
}

/*la forma de la barra de navegacion*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
/*Logo de la pagina*/
nav img {
    width: 100px;
}
/*La separacion de los links*/
.encab {
    display: flex;
    gap: 40px;
}
/*Apariencia de los links*/
.encab a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    border-bottom: 2px solid transparent;
}
/*Color a pasar el ratón por encima*/
.encab a:hover {
    border-bottom: 2px solid black;
}
/*Apariencia de la barra cuando se comprime la pagina*/
@media (max-width: 430px)
{
    nav {
        flex-direction: column;
    }
    nav .encab {
        flex-direction: column;
        margin-top: 20px;
        text-align: center;
    }
    nav img{
        width: 50px;
    }
}

/*Para el registro*/
/**/
.login_1
{
    padding: 20px;
    border: none;
}
/*Cuadrito color celeste*/
.login_1 form
{
    background-color: rgb(115, 185, 181);
    padding: 25px;
    border-radius: 5px;
}
/*Titulo de acesso administrativo*/
.login_1 form h4
{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}
/*Simbolo de posición*/
.login_1 form .input-wrapper {
    position: relative;
}
/*Tamaño de los recuedros*/
.login_1 form .input-wrapper input {
    padding: 12px 0px 12px 50px;
    margin-bottom: 15px;
    outline: none;
    font-size: 15px;
}
/*El escalado de los simbolos*/
.login_1 form .input-wrapper:focus-within i{
    transform: scale(1.1);
}
/*Posicion de los simbolos*/
.login_1 form .input-wrapper i {
    position: absolute;
    margin-left: 20px;
    top: 14px;
    font-size: 20px;
    color: rgb(42, 182, 175);
    transition: .3s ease-in;
}
/*Tamaño de los terminos*/
.login_1 form .terminos
{
    display: flex;
    gap: 15px;
    margin-top: 5px;
    font-size: 15px;
}
/*Tamaño de la checkbox*/
.terminos input[type="checkbox"]{
    transform: scale(1.4);
    margin-left: 10px;
    vertical-align: middle;
}
/*Apariencia del boton*/
.button{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;
}
/*Apariencia del boton ingresar*/
button {
    padding: 10px 0;
    font-size: 15px;
    border-radius: 5px;
    background-color: rgb(42, 182, 175);
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: .3s ease;
}
/*Animación al pasar el ratón*/
button:hover {
    transform: scale(1.05);
}
.puestos {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.puesto {
    background-color: rgb(115, 185, 181);
    padding: 15px;
    color: white;
    text-align: center;
}
p {
  color : white;

}