header {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 10px;
}
body {
        background:rgb(85, 84, 84)
         }

ul{
    list-style-type: none; 
    margin: 0;
    padding: 0;
}
.logo {
    width: 100px;
    height: 100px;
}